rvm:
  - 2.2.3
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database workshops_test;' -U postgres
addons:
  postgresql: '9.3'

test:
  adapter: postgresql
  database: workshops_test